@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CoinbaseText';
  src: url('/fonts/Coinbase_Text-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CoinbaseText';
  src: url('/fonts/Coinbase_Text-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CoinbaseText';
  src: url('/fonts/Coinbase_Text-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Define light mode colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: white;
  --black: black;
  --dark-grey: #333;
  --grey: #bdbdbd;
  --lightest-grey: whitesmoke;
  --primary: #fff533;
  --mid-grey: #525252;
  --light-grey: #d4d4d4;
}

/* Define dark mode colors */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --white: white;
    --black: black;
    --dark-grey: #222; /* Slightly darker for contrast */
    --grey: #999999;
    --lightest-grey: #2a2a2a;
    --primary: #e6d800; /* Slightly dimmed for dark mode */
    --mid-grey: #424242;
    --light-grey: #a8a8a8;
  }
}

/* Apply global styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'CoinbaseText', sans-serif;
}
